<div id="resultNb" class="col-xs-4">
    {{ nbResults }}
    {% if nbResults == 1 %}
        {{ 'facet.action.found_one'|trans }}
    {% else %}
        {{ 'facet.action.found_several'|trans }}
    {% endif %}
</div>