{% extends "::base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container-fluid home">
        <img width="100%" src="{{ asset('img/logo_raddo.jpg') }}" alt="bandeau ethnodoc">
        <h1>Bienvenue sur le prototype du site EthnoDoc !</h1>
        <h2>EthnoDoc est une association reconnue d'intérêt général
            spécialisée dans la documentation et la valorisation du patrimoine
            culturel immatériel.
		</h2>
    </div>
{% endblock %}
